/* This file has css rules that affect the entire webpage  */

body {
    padding: var(--space-big);
    font-family: "Gothic A1", Arial, Helvetica, sans-serif;
}

.subtitle {
    color: var(--color-grey);
    font-weight: bold;
    text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
    margin-bottom: var(--space-small);
}

hr {
    margin-top: var(--space-big);
    margin-bottom: var(--space-big);
}

/*desktop*/
body {
    /*Prevents from stretching over 960px*/
    max-width: 960px;
    margin: 0 auto;
}